/* Enter your custom styles here */

* {
    box-sizing: border-box;
}

.my-box__block {
    width: max-content;
    padding: 20px;
    margin: 20px;
    border: 1px solid var(--sapContent_Illustrative_Color5);
    border-radius: 6px;
}

.my-box__buttons {
    min-width: 90px;
}

.my-box__images {
    min-width: 144px;
    min-height: 144px;
}

.my-image {
    border-radius: 6px;
}